

.holder{
    display: flex;
    border: 2px solid black;
    background-color: antiquewhite;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-container{
    display: flex;
    border: 2px solid black;
    background-color: antiquewhite;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item{
    border: 2px solid black;
    padding: 75px;
    background-color:aquamarine;
}
/* Your CSS Code here. */